  <div class="navBar">
    <header>
      <nav>
            <%= "Surfeit" %>
            <%= '[SurfeitLogo]' %>
            <%= link_to 'Current', user_current_path %> |
            <%= link_to 'My Stash', stashes_path %> |
            <%= link_to 'Networks', channels_path %> |
            <%= link_to "Account", current_user %> | 
            <%= current_user.name %> 
            <%= link_to "Sign Out", logout_path %>
      </nav>
    </header>


<h1>User Channels</h1>


<ul>
  <li><%= link_to "Authorize Instagram", instagram_access_path %></li>
  <li><%= link_to 'Authorize this Facebook app', facebook_auth_url, :class=>"button"%></li>
</ul>


<%= link_to 'Authenticate this Facebook app', @auth_url, :class=>"button"%>



