  <div class="container">
    <header>
      <nav>
            <%= "Surfeit" %>
            <%= '[SurfeitLogo]' %>
            <%= link_to 'Current', user_current_path %> |
            <%= link_to 'Networks', channels_path %> |
            <%= link_to "Account", edit_user_path %> | 
            <%= current_user.name %> 
            <%= link_to "Sign Out", logout_path %>
            
            
        
      </nav>
    </header>


<h1>User Channels</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>

  <tr>
    <td><%= "Facebook Logo" %></td>
    <td><%= "Youtube" %></td>
    <td><%= "Twitter Logo" %></td>
    
  </tr>

 <tr>
    <td><%= "Instagram Logo" %></td>
    <td><%= "RSS Logo" %></td>
    <td><%= "Other Social Logo" %></td>
    
  </tr>
</table>