<head>
	<title>Surfeit Alpha!</title>
	
		 <%= stylesheet_link_tag "landingstyle", :media => "all" %>
		 <%= stylesheet_link_tag "theGrid", :media => "all" %>
		 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

<body>
   
  <div class="container">
  	<div class="row loginHolder">
		<header>
			<div class="fivecol surfeitLogoHolder">
				<div class="logoBox">
				<h1 class="surfeitLogoTitle">Surfeit</h1>
				<%= image_tag "SurfeitLogo.svg", :class => "surfeitLandingLogo" %>
				</div>
			</div>
			
			<div class="sevencol last former">
				<div class="latter">
					<%= form_tag session_path, :class => "loginForm" do %>
						<div class="emailEntry">
						<%= label_tag :email, "Email:" %>
						<%= text_field_tag :email%>
						</div><br>
						<div class="pwdEntry">
						<%= label_tag :password, "Password:" %>
						<%= password_field_tag :password %>
						</div><br>
					
	  					<%= submit_tag "Login", :class => "loginButton" %>
					
					<% end %>
				</div>
				<div class="eviscerate">
				<div class="sneaker">
				</div>
				</div>
						
			</div>
		</header>
	</div>
  </div>
  
  <div class="container magic">
  	<div class="row">
  		<div class="eightcol spidey">
  		<a href="#" class="signUp">Sign Up</a>
	  		<div class="rogue">
	  		</div>	
  		</div>
  		<div class="fourcol last">
  		<div class="sunSplash">
  		</div>
  		</div>
  	
  	</div>				
  </div>
  
  <div class="container queer">
  	<div class="row">
  		<div class="slideHolder twelvecol last">
	  		<div class="cinder">
	  		</div>
	  		<div class="ember">
	  		<% if flash[:notice] %>
				<div class="tryAgain">
	  				<p id="notice"><%= flash[:notice] %></p>
				</div>
			<% end %>
	  		</div>
  		</div>
  	</div>
  </div>	
  <%= javascript_include_tag "jquery-1.7.1.min" %>
</body>