<head>
	<title>Surfeit Alpha!</title>
	
		 <%= stylesheet_link_tag "landingstyle", :media => "all" %>
		 <%= stylesheet_link_tag "theGrid", :media => "all" %>
		 <%= stylesheet_link_tag "slide", :media => "all" %>
		 
		 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		 <%= javascript_include_tag "modernizr" %>

</head>

<body>
	<div class="container">
		<div class="row colorBlack">
			<div class="fourcol colorMint">
				<div class="signUpHolder colorSky">
					<%= link_to 'Sign Up', new_user_path, :class => 'signUp'%>
				</div>
			</div>
			
			<div class="fourcol z2">
				<div class="logoBox colorMint">
					<h1 class="surfeitLogoTitle">Surfeit</h1>
					<div class="logoHolder">
					<%= image_tag "SurfeitLogo.svg", :class => "surfeitLandingLogo" %>
					</div>
				</div>
			</div>
			
			<div class="fourcol last colorMint">
			<div class="loginFormBox colorSunnyD">
				<%= form_tag session_path, :class => "loginForm" do %>
						<div class="emailEntry">
						<%= label_tag :email, "Email:" %>
						<%= text_field_tag :email%>
						</div></br>
						<div class="pwdEntry">
						<%= label_tag :password, "Password:" %>
						<%= password_field_tag :password %>
						</div></br>
					
	  					<%= submit_tag "Login", :class => "loginButton" %>
					
					<% end %>
					<a class="forgotPwd" href="#">Forgot Your Password?</a>
			</div>
			</div>
		
		</div>
		
		<div class="row colorBlack z1 secondRow">
			<div class="fourcol cake">
				<div class="colorSky frosting">
					<div class="thingOne colorBlack">
					
					</div>
					
					<div class="thingTwo colorBlack">
					
					</div>
				</div>
			</div>
			
			<div class="fourcol cake center">
				<div class="creamWrap colorMint">
					<div class="thingOne colorBlack">
					
					</div>
					
					<div class="thingTwo colorBlack">
					
					</div>
				</div>
			</div>
			
			<div class="fourcol cake last">
			<div class="colorSunnyD frosting">
					<div class="thingOne colorBlack">
					
					</div>
					
					<div class="thingTwo colorBlack">
					
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="row colorBlack z2 thirdRow"> 
			<div class="threecol">
				<div class="blueBeamLayerOne colorSky">
					<div class="hocus colorBlack">
					
					</div>
					<div class="pocus colorBlack">
					
					</div>
				</div>
				
				<div class="blueBeamLayerTwo">
					<div class="blueBeamLensOne">
					</div>
					
					<div class="blueBeamLensTwo colorBlack">
					</div>
				</div>
				
				<div class="sapphireSocket">
					<div class="kruxOne sapphire">
				
					</div>
				</div>
				
				<div class="blueBeamLensThree colorSky">
					<div class="echo colorBlack">
					
					</div>
					<div class="gecko colorBrick">
					<div class="mortar1 colorBlack">
					</div>
					</div>
				</div>
			</div>
			
			
			<div class="sixcol sliderHolder z3">
				<div class="fixture colorMint">
					<div class="fixieOne colorBlack">
					</div>
					<div class="fixieTwo colorBlack">
					</div>
				</div>
				
				<div class="television colorMint">
					<div class="teleScreen">
						<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Easy management</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				</div>
				<div class="da-slide">
					<h2>Revolution</h2>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
				</div>
				<div class="da-slide">
					<h2>Warm welcome</h2>
					<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
				</div>
				<div class="da-slide">
					<h2>Quality Control</h2>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
				</div>
			</div>
					</div>
				</div>
				
				<div class="teleBase">
				</div>
			</div>
			
			<div class="threecol last">
				<div class="orangeBeamLayerOne colorSunnyD">
					<div class="hocusTwo colorBlack">
					
					</div>
					<div class="pocusTwo colorBlack">
					
					</div>
				</div>
				
				<div class="orangeBeamLayerTwo">
					<div class="orangeBeamLensOne">
					</div>
					
					<div class="orangeBeamLensTwo colorBlack">
					</div>
					
					
				</div>
				<div class="amberSocket">
					<div class="kruxOne amber">
				
					</div>
				</div>
				
				<div class="orangeBeamLensThree colorSunnyD">
					<div class="echo2 colorBrick">
					<div class="mortar2 colorBlack">
					</div>
					</div>
					<div class="gecko2 colorBlack">
					
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>			   

		
		<%= javascript_include_tag "jquery-1.7.1.min" %>
		<%= javascript_include_tag "jquery.cslider"%>
		<script type="text/javascript">
			$(function() {
			
				$('#da-slider').cslider({
					autoplay	: true,
					bgincrement	: 450
				});
			
			});
		</script>	
 
</body>