<head>
	<title>Surfeit Alpha!</title>
	
		 <%= stylesheet_link_tag "landingstyle", :media => "all" %>
		 <%= stylesheet_link_tag "theGrid", :media => "all" %>
		 <%= stylesheet_link_tag "slide", :media => "all" %>
		 
		 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		 <%= javascript_include_tag "modernizr" %>

</head>

<body>

<div class="container">
			<div class="twelvecol last">
				<div class="nombre">
					<p class="surfeitTitle">SURFEIT</p>
				</div>
				
				<div class="motto">
					<p class="mottoLabel">YOUR INTERNET <em>YOUR</em> WAY</p>
				</div>
			</div>
			<div class="twelvecol last" style="height: 477px;">
			<div class="fixit" style="height: 477px;">
				<div class="logoHolder">
					<%= image_tag "SurfeitLogo.svg", :class => "logo" %>
				</div>
				<div class="sliderHex">
					<div class="slideCube">
						<div class="side top"></div>
						<div class="side left"></div>
						<div class="side right"></div> 	
					</div>
				</div>
				<div class="signUpHex">
				<div class="signUpCube">
					<div class="engraving">
						<%= link_to 'Sign Up', new_user_path, :class => 'signUp'%>
					</div>
						<div class="side top"></div>
						<div class="side left"></div>
						<div class="side right"></div> 	
					</div>
				</div>
				<div class="loginHex">
					<div class="loginCube">
						<div class="side top"></div>
						<div class="side left"></div>
						<div class="side right">
						<%= form_tag session_path, :class => "" do %>
						<div class="emailMobileEntry">
						<span><%= label_tag :email, "EMAIL" %></span>
						<%= text_field_tag :email, value = nil, :style => 'width: 90px; top: 32px; position: relative;'%>
						</div></br>
						<div class="pwdMobileEntry">
						<span><%= label_tag :password, "PASSWORD", :style => 'position: relative; font-size:19px;' %></span>
						<%= password_field_tag :password, value = nil, :style => 'width: 90px; top: 33px; position: relative;'%>
						</div></br>
						<div class="loginButtonHolder">
	  					<%= submit_tag "LOGIN", :class => "loginButton", :style => 'position: relative; top: -33px; left: -9px; border: none; background: black; color: white; font-size: 31px; text-shadow: 0px 0px 27px white;' %>
						</div>
					<% end %>

						
						<!-- <span>EMAIL<input type="text" style="width: 90px;"></input></span></br><span style="top: 70px">PWD<input type="text" style="width: 90px;"></input></span><span class="loginButtonHolder">LOGIN</span> -->
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>

<!--

	<div class="mobileTrigger">
	</div>
	<div class="container nonMobile">
		<div class="row colorBlack">
			<div class="fourcol colorMint">
				<div class="signUpHolder colorSky">
				 <%= link_to 'Sign up', new_user_path, :class => 'signUp'%>
				</div>
			</div>
			
			<div class="fourcol z2">
				<div class="logoBox colorMint">
					<h1 class="surfeitLogoTitle">Surfeit</h1>
					<div class="logoHolder">
					<%= image_tag "SurfeitLogo.svg", :class => "surfeitLandingLogo" %>
					</div>
				</div>
			</div>
			
			<div class="fourcol last colorMint">
			<div class="loginFormBox colorSunnyD">
				<%= form_tag session_path, :class => "loginForm" do %>
						<div class="emailEntry">
						<%= label_tag :email, "Email:" %>
						<%= text_field_tag :email%>
						</div></br>
						<div class="pwdEntry">
						<%= label_tag :password, "Password:" %>
						<%= password_field_tag :password %>
						</div></br>
					
	  					<%= submit_tag "Login", :class => "loginButton" %>
					
					<% end %>
					<a class="forgotPwd" href="#">Forgot Your Password?</a>
			</div>
			</div>
		
		</div>
		
		<div class="row colorBlack z1 secondRow">
			<div class="fourcol cake">
				<div class="colorSky frosting">
					<div class="thingOne colorBlack">
					
					</div>
					
					<div class="thingTwo colorBlack">
					
					</div>
				</div>
			</div>
			
			<div class="fourcol cake center">
				<div class="creamWrap colorMint">
					<div class="thingOne colorBlack">
					
					</div>
					
					<div class="thingTwo colorBlack">
					
					</div>
				
				</div>
			</div>
			
			<div class="fourcol cake last">
			<div class="colorSunnyD frosting">
					<div class="thingOne colorBlack">
					
					</div>
					
					<div class="thingTwo colorBlack">
					
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="row colorBlack z2 thirdRow"> 
			<div class="threecol">
				<div class="blueBeamLayerOne colorSky">
					<div class="hocus colorBlack">
					
					</div>
					<div class="pocus colorBlack">
					
					</div>
				</div>
				
				<div class="blueBeamLayerTwo">
					<div class="blueBeamLensOne">
					</div>
					
					<div class="blueBeamLensTwo colorBlack">
					</div>
				</div>
				
				<div class="sapphireSocket">
					<div class="kruxOne sapphire">
				
					</div>
				</div>
				
				<div class="blueBeamLensThree colorSky">
					<div class="echo colorBlack">
					
					</div>
					<div class="gecko colorBrick">
					<div class="mortar1 colorBlack">
					</div>
					</div>
				</div>
			</div>
			
			
			<div class="sixcol sliderHolder z3">
				<div class="fixture colorMint">
					<div class="fixieOne colorBlack">
					</div>
					<div class="fixieTwo colorBlack">
					</div>
				</div>
				
				<div class="television colorMint">
					<div class="teleScreen">
						<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Easy management</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				</div>
				<div class="da-slide">
					<h2>Revolution</h2>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
				</div>
				<div class="da-slide">
					<h2>Warm welcome</h2>
					<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
				</div>
				<div class="da-slide">
					<h2>Quality Control</h2>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
				</div>
			</div>
					</div>
				</div>
				
				<div class="teleBase">
				</div>
			</div>
			
			<div class="threecol last">
				<div class="orangeBeamLayerOne colorSunnyD">
					<div class="hocusTwo colorBlack">
					
					</div>
					<div class="pocusTwo colorBlack">
					
					</div>
				</div>
				
				<div class="orangeBeamLayerTwo">
					<div class="orangeBeamLensOne">
					</div>
					
					<div class="orangeBeamLensTwo colorBlack">
					</div>
					
					
				</div>
				<div class="amberSocket">
					<div class="kruxOne amber">
				
					</div>
				</div>
				
				<div class="orangeBeamLensThree colorSunnyD">
					<div class="echo2 colorBrick">
					<div class="mortar2 colorBlack">
					</div>
					</div>
					<div class="gecko2 colorBlack">
					
					</div>
				</div>
			
			</div>
		</div>
		
		<div class="row colorBrick z3 footerRow">
			<div class="twelvecol footercol last">
			</div>
		</div>
	</div>			   

	<div class="container mobile">
		<div class="row">
			<div class="twelvecol last">
			<div class="logoBox colorMint">
					<h1 class="surfeitLogoTitle">Surfeit</h1>
					<div class="logoHolder">
					<%= image_tag "SurfeitLogo.svg", :class => "surfeitLandingLogo" %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="twelvecol secondMobileRow last">
			<div class="creamWrap colorMint">
					<div class="thingOne colorBlack">
					
					</div>
					
					<div class="thingTwo colorBlack">
					
					</div>
					<div class="signInMobileHolder colorBlack">
					<%= form_tag session_path, :class => "" do %>
						<div class="emailMobileEntry">
						<%= label_tag :email, "Email:" %>
						<%= text_field_tag :email%>
						</div></br>
						<div class="pwdMobileEntry">
						<%= label_tag :password, "Password:" %>
						<%= password_field_tag :password %>
						</div></br>
						<div class="loginButtonHolder">
	  					<%= submit_tag "Login", :class => "loginButton" %>
						</div>
					<% end %>
					<div class="forgotHolder">
					<a class="forgotMobile" href="#">Forgot Your Password?</a>
					</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="twelvecol last thirdMobileRow">
			
			<div class="signUpBox colorSunnyD">
				<div class="cheech colorBlack">
				
				</div>
				
				<div class="chong colorBlack">
				
				</div>
				
				<div class="signUpMobileHolder">
				<%= link_to 'Sign up', new_user_path, :class => 'signUp'%>
				</div>
			</div>
			
			</div>
		</div>
	</div>
		
		<%= javascript_include_tag "jquery-1.7.1.min" %>
		<%= javascript_include_tag "jquery.cslider"%>
		<script type="text/javascript">
			$(function() {
			
				$('#da-slider').cslider({
					autoplay	: true,
					bgincrement	: 450
				});
			
			});
		</script>
		<script type="text/javascript">
		// global variables
		var compareColor; //previous color used for comparison
		var trigger; //the element used to compare changes
		// for performance, I store the detector element into a variable to avoid
		// running a DOM query every time we need to test the change conditions
		var nonMobileHolder
		var mobileHolder
		jQuery(document).ready(function(){
		
		    //set the initial values
		    trigger = $('.mobileTrigger');
		    compareColor = trigger.css('color');
		    nonMobileHolder = $('.nonMobile');
		    mobileHolder = $('.mobile');
		    
		    $('.mobile').remove();
		    if(trigger.css('color')== 'rgb(255, 0, 0)'){
		            $('.nonMobile').remove();
		            $('body').append(mobileHolder);
		        }
		    else{
			     $(function() {
			
						$('#da-slider').cslider({
							autoplay	: true,
							bgincrement	: 450
						});
			
					});
		    }
		    
		    $(window).resize(function(){
		        //compare everytime the window resize event fires
		        if(trigger.css('color')== 'rgb(255, 0, 0)'){
		        	$(function() {
			
						$('#da-slider').cslider({
							autoplay	: false,
						});
			
					});
		            $('.nonMobile').remove();
		            if($('body').children('.mobile').size() == 0){
		            $('body').append(mobileHolder);
		            }
		        }
		        else if($('body').children('.nonMobile').size() > 0){
				        return
				}
			    else{
			    	$(function() {
			
						$('#da-slider').cslider({
							autoplay	: false,
						});
			
					});
			    	$('.mobile').remove();
				    $('body').append(nonMobileHolder);
				    $(function() {
			
						$('#da-slider').cslider({
							autoplay	: true,
						});
			
					});
				    
			    }
		        
		
		    });
		
		});
		</script>
-->
 
</body>