  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <h2>Sign In</h2>
    <span class="nameInput">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    </span>
     <span class="userInput">
    <%= f.label :username, "Username" %>
    <%= f.text_field :username %>
    </span>
    <span class="emailInput">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email %>
    </span><br>
    <p class="wereCool">Don't worry, we promise to never share, sell, or spam your email. We're cool like that.</p>
    <span class="pwdInput">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
    </span>
    <span class="pwdConfirm">
    <%= f.label :password_confirmation, "Confirm:" %>
    <%= f.password_field :password_confirmation %>
    </span>
    <span class="updateInput">

    <div class="actions">
    	<%= f.submit "Join Us!" %>
    </div>
	
<% end %> 

    