 <head>
<title>Surfeit Beta!</title>
  
  <%= stylesheet_link_tag "editUser", :media => "all" %>
  <%= stylesheet_link_tag "theGrid", :media => "all" %>
</head>

  <body>
  <div class="container">
	<div class="twelvecol last">
		<div class="nombre">
			<p class="surfeitTitle">SURFEIT<span class="betaTag" style="font-size: 66px;">beta</span></p>
		</div>
				
		<div class="motto">
			<p class="mottoLabel">Edit Account</p>
		</div>
	</div>
	
	<div class="twelvecol last" style="height: 477px;">
		<div class="fixit" style="height: 477px;">
			<div class="formHolder">
			<%= render 'form_edit' %>
			</div>
			<div class="cubicHolder">
			<div class="logoHolder">
				<%= image_tag "SurfeitLogo.svg", :class => "logo" %>
			</div>
			
			<div class="sliderHex">
				<div class="slideCube">
					<div class="side top"></div>
					<div class="side left"></div>
					<div class="side right"></div> 	
				</div>
			</div>
			<div class="signUpHex">
				<div class="signUpCube">
					<div class="engraving">
					<%= link_to "BACK", users_path, :class => "backstep" %>
					</div>
					<div class="side top"></div>
					<div class="side left"></div>
					<div class="side right"></div> 	
				</div>
			</div>
			</div>
		</div>
	
	
			<div class=navHolder>
				<nav>
					<%= link_to 'Current', user_current_path %> |
					<%= link_to 'Networks', authorizations_path %> |
					<%= link_to "Account", users_path %> | 
					<%= link_to "Sign Out", logout_path %>
				</nav>
			</div>
		</div>
	</div> 	
</body>

