 <head>
<title>Surfeit Alpha</title>
  
  <%= stylesheet_link_tag "newUser", :media => "all" %>
</head>

  <body>
    <header>
    	<div class="navBar">
      	<nav>
       
            <%= link_to 'Current', user_current_path %> |
            <%= link_to 'My Stash', stashes_path %> |
            <%= link_to 'Networks', channels_path %> |
            <%= link_to "Account", user_path(@user) %> | 
            <%= current_user.name %> 
            <%= link_to "Sign Out", logout_path %>
      	</nav>
      	<div class="headerContent">
	      <h1 class="surfeitTextLogo">Surfeit</h1>
	      <%= image_tag 'SurfeitLogo.svg', :class => 'surfeitLogo' %>
	      <h2 class='createYourAccount'>Update User Information</h2>
	  </div>
    </header>


    <div class="container">
    	<%= render 'form_edit' %>
    </div>
    <br>
</body>
