  <div class="navBar">
    <header>
      <nav>
            <%= "Surfeit" %>
            <%= '[SurfeitLogo]' %>
            <%= link_to 'Current', user_current_path %> |
            <%= link_to 'Networks', authorizations_path %> |
            <%= link_to "Account", users_path %> | 
            <%= current_user.name.capitalize %> 
            <%= link_to "Sign Out", logout_path %>
      </nav>
    </header>

<h1> My Account </h1>


<%= link_to 'Edit My Info & Change Password', edit_user_path %>
<p> Name: <%= current_user.name.capitalize %> </p>
<p>Email: <%= current_user.email %> </p>
<p>Username: <%= current_user.username%></p>
