<!--
  <div class="navBar">
    <header>
      <nav>
            <%= "Surfeit" %>
            <%= '[SurfeitLogo]' %>
            <%= link_to 'Current', user_current_path %> |
            <%= link_to 'Networks', authorizations_path %> |
            <%= link_to "Account", users_path %> | 
            <%= current_user.name.capitalize %> 
            <%= link_to "Sign Out", logout_path %>
      </nav>
    </header>

<h1> My Account </h1>


<%= link_to 'Edit My Info & Change Password', edit_user_path %>
<p> Name: <%= current_user.name.capitalize %> </p>
<p>Email: <%= current_user.email %> </p>
<p>Username: <%= current_user.username%></p>


<%= image_tag @user.gravatar_url %>
-->

 <head>
<title>Surfeit Beta!</title>
  
  <%= stylesheet_link_tag "showUser", :media => "all" %>
  <%= stylesheet_link_tag "theGrid", :media => "all" %>
</head>

  <body>
  <div class="container">
	<div class="twelvecol last">
		<div class="nombre">
			<p class="surfeitTitle">SURFEIT<span class="betaTag" style="font-size: 66px;">beta</span></p>
		</div>
				
		<div class="motto">
			<p class="mottoLabel">My Account</p>
		</div>
	</div>
	
	<div class="twelvecol last" style="height: 477px;">
		<div class="fixit" style="height: 477px;">
			<div class="formHolder">
			
			<p style="font-weight: 900;">Name</p>
			<p><%= current_user.name.capitalize %> </p>
			<p style="font-weight: 900;">Email</p> 
			<p><%= current_user.email %> </p>
			<p style="font-weight: 900;">Username</p> 
			<p><%= current_user.username%></p>
			</div>
			<div class="cubicHolder">
			<div class="logoHolder">
				<%= image_tag "SurfeitLogo.svg", :class => "logo" %>
			</div>
			
			<div class="sliderHex">
				<div class="slideCube">
					<div class="side top"></div>
					<div class="side left"></div>
					<div class="side right"></div> 	
				</div>
			</div>
			<div class="signUpHex">
				<div class="signUpCube">
				<div class="engraving">
				<%= link_to 'EDIT', edit_user_path, :class => "editor" %>
				</div>
					
					<div class="side top"></div>
					<div class="side left"></div>
					<div class="side right"></div> 	
				</div>
			</div>
			</div>
		</div>
	
	
			<div class=navHolder>
				<nav>
					<%= link_to 'Current', user_current_path %> |
					<%= link_to 'Networks', authorizations_path %> |
					<%= link_to "Account", users_path %> | 
					<%= link_to "Sign Out", logout_path %>
				</nav>
			</div>
		</div>
	</div> 	
</body>

