
<head>
	 <title>Surfeit Alpha</title>
  
  <%= stylesheet_link_tag "style", :media => "all" %>
</head>

<body>

<nav id="site-nav" class="meny">
    <h1><a href="index.html">Surfeit</a></h1>
    
      Welcome, <%= User.find_by_id(session[:user_id]).name %> | 
      <%= link_to 'Sign Out', logout_path %>
    

  <section id="options">
   <div class="option-combo">
      <h2>Filter:</h2>
      
      <ul id="filter" class="option-set clearfix" data-option-key="filter">
        <li><a href="#show-all" data-option-value="*" class="selected">All</a></li>
        <li><a href="#elements" data-option-value=".facebook">Facebook</a></li>
        <li><a href="#features" data-option-value=".twitter">Twitter</a></li>
        <li><a href="#features" data-option-value=".youtube">Youtube</a></li>
        <li><a href="#features" data-option-value=".rss">RSS</a></li>
      </ul>
      
      <h2>Sort:</h2>
      <ul id="sort" class="option-set clearfix" data-option-key="sortBy">
        <li><a href="#mixed" data-option-value="originType" >Origin</a></li>
        <li><a href="#original" data-option-value="original-order" class="selected">Recent</a></li>
      </ul>
      
      
      Prepend:
      <ul class="clearfix">
      <li id="prepend"><a href='#prepend'>Prepend</a></li>
      </ul>
    </div>
      
      </section>
      <br><br>  
      <div class="lower_nav_links">
      <%= link_to 'Manage Networks', channels_path %><br>
      <%= link_to 'My Account', account_path %>
      </div>

  </nav> <!-- #site-nav -->
  
  
  
  <div class="contents">
  <section id="content">
  
  <div id="container" class="super-list variable-sizes clearfix">
    
      
          
    <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Jim Turner</h3>
      <h2 class="name"> a think I'm going to join the Surfeit team.</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
    <div class="element youtube width2 height2">
    	<p class="originType">X</p>
    	<h3 class="symbol">Brett Atchley</h3>
    	<iframe width="220" height="150" src="http://www.youtube.com/embed/aT5l1KVe-NU" frameborder="0" allowfullscreen style="top: 3.5em; left: .4em;"></iframe>
    </div>
    
     <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Sarah Binion</h3>
      <h2 class="name">OMG Surfeit is so awesome!!!! OMG Surfeit is so eeeeeee!!!!</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
        <div class="element rss width2">
      <p class="originType">R</p>
      <h3 class="symbol">Gizmodo</h3>
      <h2 class="name"><a href="http://gizmodo.com/5959068/a-week-with-the-ipad-mini"  target="_blank" style="position: relative">A week with iPad Mini</a></h2>
      <a class="maximizer" href="#">m</a>
    </div>
    	
    
     <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Sarah Binion</h3>
      <h2 class="name"> b OMG Surfeit is so awesome!!!!</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
     <div class="element facebook width2">
      <p class="originType">F</p>
      <h3 class="symbol">Brian Martinek</h3>
      <h2 class="name">I'm a god damn back end sage</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
    
     <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Jim Turner</h3>
      <h2 class="name"> a think I'm going to join the Surfeit team.</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
    <div class="element youtube width2 height2">
    	<p class="originType">X</p>
    	<h3 class="symbol">Brett Atchley</h3>
    	<iframe width="220" height="150" src="http://www.youtube.com/embed/aT5l1KVe-NU" frameborder="0" allowfullscreen style="top: 3.5em; left: .4em;"></iframe>
    </div>
    
     <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Sarah Binion</h3>
      <h2 class="name">OMG Surfeit is so awesome!!!! OMG Surfeit is so eeeeeee!!!!</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
        <div class="element rss width2">
      <p class="originType">R</p>
      <h3 class="symbol">Gizmodo</h3>
      <h2 class="name"><a href="http://gizmodo.com/5959068/a-week-with-the-ipad-mini"  target="_blank" style="position: relative">A week with iPad Mini</a></h2>
      <a class="maximizer" href="#">m</a>
    </div>
    	
    
     <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Sarah Binion</h3>
      <h2 class="name"> b OMG Surfeit is so awesome!!!!</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
     <div class="element facebook width2">
      <p class="originType">F</p>
      <h3 class="symbol">Brian Martinek</h3>
      <h2 class="name">I'm a god damn back end sage</h2>
      <a class="maximizer" href="#">m</a>
    </div>


 <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Jim Turner</h3>
      <h2 class="name"> a think I'm going to join the Surfeit team.</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
    <div class="element youtube width2 height2">
    	<p class="originType">X</p>
    	<h3 class="symbol">Brett Atchley</h3>
    	<iframe width="220" height="150" src="http://www.youtube.com/embed/aT5l1KVe-NU" frameborder="0" allowfullscreen style="top: 3.5em; left: .4em;"></iframe>
    </div>
    
     <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Sarah Binion</h3>
      <h2 class="name">OMG Surfeit is so awesome!!!! OMG Surfeit is so eeeeeee!!!!</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
        <div class="element rss width2">
      <p class="originType">R</p>
      <h3 class="symbol">Gizmodo</h3>
      <h2 class="name"><a href="http://gizmodo.com/5959068/a-week-with-the-ipad-mini"  target="_blank" style="position: relative">A week with iPad Mini</a></h2>
      <a class="maximizer" href="#">m</a>
    </div>
    	
    
     <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Sarah Binion</h3>
      <h2 class="name"> b OMG Surfeit is so awesome!!!!</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
     <div class="element facebook width2">
      <p class="originType">F</p>
      <h3 class="symbol">Brian Martinek</h3>
      <h2 class="name">I'm a god damn back end sage</h2>
      <a class="maximizer" href="#">m</a>
    </div>


 <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Jim Turner</h3>
      <h2 class="name"> a think I'm going to join the Surfeit team.</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
    <div class="element youtube width2 height2">
    	<p class="originType">X</p>
    	<h3 class="symbol">Brett Atchley</h3>
    	<iframe width="220" height="150" src="http://www.youtube.com/embed/aT5l1KVe-NU" frameborder="0" allowfullscreen style="top: 3.5em; left: .4em;"></iframe>
    </div>
    
     <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Sarah Binion</h3>
      <h2 class="name">OMG Surfeit is so awesome!!!! OMG Surfeit is so eeeeeee!!!!</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
        <div class="element rss width2">
      <p class="originType">R</p>
      <h3 class="symbol">Gizmodo</h3>
      <h2 class="name"><a href="http://gizmodo.com/5959068/a-week-with-the-ipad-mini"  target="_blank" style="position: relative">A week with iPad Mini</a></h2>
      <a class="maximizer" href="#">m</a>
    </div>
    	
    
     <div class="element twitter width2">
      <p class="originType">L</p>
      <h3 class="symbol">Sarah Binion</h3>
      <h2 class="name"> b OMG Surfeit is so awesome!!!!</h2>
      <a class="maximizer" href="#">m</a>
    </div>
    
     <div class="element facebook width2">
      <p class="originType">F</p>
      <h3 class="symbol">Brian Martinek</h3>
      <h2 class="name">I'm a god damn back end sage</h2>
      <a class="maximizer" href="#">m</a>
    </div>

    

     
    <!-- <div class="link away" data-number="35"><a href="http://surfeit.me">Surfeit</a></div> -->
  </div>
 

  </section> <!-- #content -->
  </div>
  
  <%= javascript_include_tag "jquery-1.7.1.min" %>
<%= javascript_include_tag "jquery.isotope.min" %>
<%= javascript_include_tag "fake-element" %>
<%= javascript_include_tag "meny.min" %>
<script>
    $(function(){
    
      var $container = $('#container');
    
      $container.isotope({
        masonry: {
          columnWidth: 120
        },
        sortBy: 'number',
        getSortData: {
          number: function( $elem ) {
            var number = $elem.hasClass('element') ? 
              $elem.find('.number').text() :
              $elem.attr('data-number');
            return parseInt( number, 10 );
          },
          originType: function( $elem ) {
            var name = $elem.find('.originType'),
                itemText = name.length ? name : $elem;
            return itemText.text();
          }
        }
      });
      
       $('#prepend a').click(function(){
        var $newEls = $( fakeElement.getGroup() );
        $container
          .prepend( $newEls ).isotope('reloadItems').isotope({ sortBy: 'original-order' })
          // set sort back to symbol for inserting
          .isotope('option', { sortBy: 'symbol' });

        return false;
      });

    
      
      var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('a');

      $optionLinks.click(function(){
        var $this = $(this);
        // don't proceed if already selected
        if ( $this.hasClass('selected') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');
  
        // make option object dynamically, i.e. { filter: '.my-filter-class' }
        var options = {},
            key = $optionSet.attr('data-option-key'),
            value = $this.attr('data-option-value');
        // parse 'false' as false boolean
        value = value === 'false' ? false : value;
        options[ key ] = value;
        if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
          // changes in layout modes need extra logic
          changeLayoutMode( $this, options )
        } else {
          // otherwise, apply new options
          $container.isotope( options );
        }
        
        return false;
      });
    
   });
  </script> 
  <script>
			// Create an instance of Meny
			var meny = Meny.create({
				// The element that will be animated in from off screen
				menuElement: document.querySelector( '.meny' ),

				// The contents that gets pushed aside while Meny is active
				contentsElement: document.querySelector( '.contents' ),

				// [optional] The alignment of the menu (top/right/bottom/left)
				position: Meny.getQuery().p || 'left',

				// [optional] The height of the menu (when using top/bottom position)
				height: 200,

				// [optional] The width of the menu (when using left/right position)
				width: 260,

				// [optional] Distance from mouse (in pixels) when menu should open
				threshold: 40
			});

			// API Methods:
			// meny.open();
			// meny.close();
			// meny.isOpen();
			
			// Events:
			// meny.addEventListener( 'open', function(){ console.log( 'open' ); } );
			// meny.addEventListener( 'close', function(){ console.log( 'close' ); } );

			// Embed an iframe if a URL is passed in
			if( Meny.getQuery().u && Meny.getQuery().u.match( /^http/gi ) ) {
				var contents = document.querySelector( '.contents' );
				contents.style.padding = '0px';
				contents.innerHTML = '<div class="cover"></div><iframe src="'+ Meny.getQuery().u +'" style="width: 100%; height: 100%; border: 0; position: absolute;"></iframe>';
			}
  </script>

</body>
