<%= form_for(@stash) do |f| %>
  <% if @stash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stash.errors.count, "error") %> prohibited this stash from being saved:</h2>

      <ul>
      <% @stash.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :stashed_item %><br />
    <%= f.text_field :stashed_item %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
