<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @stash.user_id %>
</p>

<p>
  <b>Stashed item:</b>
  <%= @stash.stashed_item %>
</p>


<%= link_to 'Edit', edit_stash_path(@stash) %> |
<%= link_to 'Back', stashes_path %>
